# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"

# ------------------------------------------------------------------------------
# BASE DE DONNÉES LOCALE (MARIADB / POSTGRESQL / JSON FILE)
# ------------------------------------------------------------------------------
DB_TYPE="mariadb" # Options: mariadb | postgres | json
DB_HOST="127.0.0.1"
DB_PORT="3306" # 3306 pour MariaDB/MySQL, 5432 pour PostgreSQL
DB_USER="root"
DB_PASSWORD="SecretPassword2026!"
DB_NAME="facturation_labo_db"
